.container{
	padding-top: ($grid-gutter-width / 2);
	padding-bottom: ($grid-gutter-width / 2);
}

.main {

}

.stars{
	margin-top: ($grid-gutter-width / 6);
	color: #bababa;
}

#page-title {
    padding: 0 ($grid-gutter-width / 2) ($grid-gutter-width / 3);
    font-family: $headings-font-family;
    text-transform: uppercase;
    margin: 0;
}
// HOME
#topBanner{
	background-image: url('../img/banner-home.jpg');
	background-size: cover;
	padding-top: $grid-gutter-width;
	h2,p{
		color: white;
	}
}

// WHITE LABEL HERITAGE
#topBannerWhiteLabel{
	background-image: url('../img/banner-whitelabel.jpg');
	background-size: cover;
	padding-top: $grid-gutter-width;
	h2,p{
		color: white;
	}
}

// WINE CLUB
.form-connect{
	.input-container{
		position: relative;
	}
	input{
		display: block;
		border: none;
		width: 100%;
		padding: ($grid-gutter-width / 3);
		&:focus{
			outline: none;
		}
		&[type='password'],
		&[type='email']{
			border-bottom: 1px solid $dgrey;
			font-style: italic;
			padding-left: ($grid-gutter-width * 4 / 3);
			position: relative;
			&+label{
				position: absolute;
				left: ($grid-gutter-width / 3);
				top:($grid-gutter-width / 3);
				bottom:($grid-gutter-width / 3);
				width: ($grid-gutter-width * 2 / 3);
				margin: 0;
			}
		}
		&[type='submit']{
			border: 1px solid;
		}
	}
}

// FOOD MATCHING
.food-pic{
	width: 40%;
	margin: auto;
}

// SOCIAL MEDIAS
.social-bt{
	position: relative;
	border: 1px solid #303030;
	background-color: #303030;
    display: block;
    text-align: left;
	padding: floor($grid-gutter-width / 3) floor($grid-gutter-width / 3) floor($grid-gutter-width / 3) 44px;		
    text-transform: uppercase;
    color: white;
    font-family: Georgia,Times New Roman,serif;
    img{
    	position: absolute;
    	left: floor($grid-gutter-width / 3);
    	top: 8px;
    }
    span{
    	border-left: 1px solid #303030;
    	padding-left: floor($grid-gutter-width / 2);
    }
    &.fb-color{
    	background-color: #3b5998;
    	border-color: #3b5998;
    	span{
    		border-color: lighten(#3b5998, 5);
    	}
    }
    &.twitter-color{
    	background-color: #00aced;
    	border-color: #00aced;
    	span{
    		border-color: lighten(#00aced, 5);
    	}
    }
    &.google-color{
    	background-color: #d34836;
    	border-color: #d34836;
     	span{
    		border-color: lighten(#d34836, 5);
    	}
   }
}