.navbar-nav {
    li {
      a {
        position: relative;
        color: white;
        &:hover,
        &:focus{
            background-color: transparent;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                width: ($grid-gutter-width / 4);
                background-color: white;
                top: 0;
                bottom: 0;
            }
        }
      }
      &.active{
        a:before{
            content: '';
            position: absolute;
            left: 0;
            width: ($grid-gutter-width / 4);
            background-color: white;
            top: 0;
            bottom: 0;
        }
      }
    }
}
.navbar{
	border: none;
}
.navbar-default{
	.navbar-toggle{
		float: left;
		margin-right: auto;
		margin-left: ($grid-gutter-width / 2);
		border: none;
		padding-left: 0;
		&:focus,
		&:hover{
			background-color: transparent;
		}
	}
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 126px;
    height: auto;
}
.trans-sidebar{
	transition: transform 100ms;
}
#sidebarMenu{
	z-index: 1;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    background: $pink;
	transform: translateX(-100%);
    &.in{
    	transform: translateX(0%);
	    ~ .page-content-pushed{
	    	transform: translateX(50%);
		}
    }
}
