* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font: 300 14px/1.3 ;
  color: #444;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
  overflow-x: hidden;
}
em{
  font-family:  $headings-font-family;
}
h1,h2,h3,h4{
  font-weight: 700;
  color: #555555;
  margin-top: 0;
}
h2{
  font-size: 21px;
}
h3{
  font-size: 16px;
  margin-bottom: ($grid-gutter-width / 6);
}
h4{
  font-size: 16px;
  margin-bottom: ($grid-gutter-width / 6);
  font-weight: 400;
}