::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}

.bg-white{
	background-color: white;
}
.bg-pink{
	background-color: $pink;
}
.gold{
	color: #f09d27;
}
.lgrey{
	color: #888888;
}
.white{
	color: white;
}

.bloc-shad{
	box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
	&-2x{
		box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	}
}
.img-responsive{
	max-height: 100%;
}
.bt{
	border: 1px solid $dgrey;
	text-align: center;
    display: block;
	padding: floor($grid-gutter-width / 3);		
    text-transform: uppercase;
    color: $dgrey;
    font-family: Georgia,Times New Roman,serif;
    width: 100%;
	&:hover,
	&:focus{
		outline: none;
		background-color: $dgrey;
		color: white;
		text-decoration: none;
	}
	&.pink{
		color: $pink;
		border-color: $pink;
		&:hover,
		&:focus{
			background-color: $pink;
			color: white;
		}
	}
	&.rev{
		color: white;
		background-color: $dgrey;
		border-color: $dgrey;
		&:hover,
		&:focus{
			background-color: white;
			color: $dgrey;
		}
	}
	&.pinkrev{
		color: white;
		background-color: $pink;
		border-color: $pink;
		&:hover,
		&:focus{
			background-color: white;
			color: $pink;
		}
	}
}
//margin helper
.mg{
	// .mg
	margin: $grid-gutter-width;
	@for $i from 2 through 4 {
		&-#{$i}x{
			// .mg-2x, .mg-3x, .mg-4x
			margin: $grid-gutter-width * $i;
		}
		&-d#{$i}{
			// .mg-d2, .mg-d3, .mg-d4
			margin: floor($grid-gutter-width / $i);
		}
	}

	@each $dir in top, bottom, left, right {
		&-#{$dir}{
			// .mg-top, .mg-bottom, .mg-left, .mg-right
			margin-#{$dir}: $grid-gutter-width;
			@for $i from 2 through 4 {
				&-#{$i}x{
					// .mg-top-2x, .mg-left-3x, .mg-right-4x, etc..
					margin-#{$dir}: $grid-gutter-width * $i;
				}
				&-d#{$i}{
					// .mg-top-d2, .mg-left-d3, .mg-d4
					margin-#{$dir}: floor($grid-gutter-width / $i);
				}
			}
		}
	}
	@each $dir in 'vert', 'hori' {
		&-#{$dir}{
			@if $dir == 'vert' {
				// .mg-vert
				margin: $grid-gutter-width 0;
			}
			@if $dir == 'hori' {
				// .mg-hori
				margin: 0 $grid-gutter-width;
			}
			@for $i from 2 through 4 {
				&-#{$i}x{
					@if $dir == 'vert' {
						// .mg-vert-2x, etc..
						margin: ($grid-gutter-width * $i) 0;
					}
					@if $dir == 'hori' {
						// .mg-hori-2x, etc..
						margin: 0 ($grid-gutter-width * $i);
					}
				}
				&-d#{$i}{
					@if $dir == 'vert' {
						// .mg-vert-2x, etc..
						margin: floor($grid-gutter-width / $i) 0;
					}
					@if $dir == 'hori' {
						// .mg-hori-2x, etc..
						margin: 0 floor($grid-gutter-width / $i);
					}
				}
			}
		}
	}
}