$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$dgrey:								#303030;
$pink:								#ba0e4b;

$navbar-default-toggle-icon-bar-bg: $dgrey;
$navbar-default-bg:					white;
$body-bg:							#ebeff2;
$navbar-margin-bottom:				0;
$font-family-base:					'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-family:				Georgia, 'Times New Roman', serif;