<div id="foodMatching1" class="container bg-white bloc-shad mg-bottom-d2 mg-top-d2 text-center">
	<img src="assets/img/food1.png" class="food-pic img-responsive">
	<h4 class="text-center mg-top-d2">Roasted Duck Leg</h4>
	<p class="lgrey">The dry meat would perfecty match with this sweet and refreshing wine.</p>
</div>
<div id="foodMatching2" class="container bg-white bloc-shad mg-bottom-d2 mg-top-d2 text-center">
	<img src="assets/img/food2.png" class="food-pic img-responsive">
	<h4 class="text-center mg-top-d2">Tajin of Duck</h4>
	<p class="lgrey">The delicate flavors of this tajin will match with the wine's texture.</p>
</div>