<div id="loginSocialMedia" class="container bg-white bloc-shad mg-bottom-d2 mg-top-d2">
	<h4 class="text-center mg-top-d2 mg-bottom">For a full access to our app<br/>
	you can connect easily with social medias accounts.</h4>
    <div class="row">
      <div class="col-xs-12 mg-bottom-d2">
        <a href="" class="fb-color social-bt"><img src="assets/img/facebook-ico.png" width="24" height="24" class="img-responsive"><span>Sign In with Facebook</span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 mg-bottom-d2">
        <a href="#whitelabel" class="twitter-color social-bt"><img src="assets/img/twitter-ico.png" width="24" height="24" class="img-responsive"><span>Sign In with Twitter</span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="#loginsocial" class="google-color social-bt"><img src="assets/img/google-ico.png" width="24" height="24" class="img-responsive"><span>Sign In with Google</span></a>
      </div>
    </div>
</div>