<div id="bottle1" class="container bg-white bloc-shad mg-bottom-d2 mg-top-d2 text-center">
	<img src="assets/img/wine-white-label.png" height="130" width="34" class="img-responsive center-block">
	<h4 class="text-center mg-top-d2">White Label</h4>
	<p class="lgrey mg-bottom">Pale yellow color. Aromas are bright pear and lemon accented by subtle minerality and seashell notes, with accents of caramel apple and nutmeg adding richness. Flavors, ripe Fuji apple and Bosc pear provide a soft entry and vibrant mouthfeel. Lively fruit is supported by notes of vanilla and cream, and the generous body provides a lingering finish of apple, vanilla bean, and spice.</p>
	<form id="formOrderOnline" action="thxorderonline.html">
		<input type="submit" class="bt pinkrev" value="Order Now">
	</form>
</div>
