<div id="topBanner" class="container">
	<h2>White Label</h2>
	<p>Lorem ipsum is the dummy text for web and mobile example text for using in the print media as well. From 2005 it’s using roughly by web designers.</p>
	<div class="clear">
		<a class="pull-right">
			<img class="img-responsive" src="assets/img/heart.png" alt="like this" width="28">
		</a>
	</div>
</div>
<div id="publicReview" class="container bg-white bloc-shad mg-bottom-d2 clear">
	<div class="pull-left">
		<h3>Public Review</h3>
		<em class="lgrey">Based on 35 reviews</em>
		<div class="stars">
			<span class="gold">★</span>
			<span class="gold">★</span>
			<span class="gold">★</span>
			<span class="gold">★</span>
			<span>★</span>
		</div>
	</div>
	<div class="pull-right">
		<h3>Share</h3>
		<div class="share">
			<a href="#"><img src="assets/img/fb-share.png" width="35"></a>
			<a class="mg-left-d2" href="#"><img src="assets/img/twitter-share.png" width="35"></a>
		</div>
	</div>
</div>
<div id="yourReview" class="container bg-white bloc-shad mg-bottom-d2">
	<h3 class=" mg-bottom-d2">Provide your review</h3>
	<div class="row mg-bottom-d2">
		<div class="col-xs-6">
			<h4>Flavor</h4>
		</div>
		<div class="col-xs-6">
			<div class="stars">
				<span>★</span>
				<span>★</span>
				<span>★</span>
				<span>★</span>
				<span>★</span>
			</div>
		</div>
	</div>
	<div class="row mg-bottom-d2">
		<div class="col-xs-6">
			<h4>Wine style</h4>
		</div>
		<div class="col-xs-6">
			<div class="stars">
				<span>★</span>
				<span>★</span>
				<span>★</span>
				<span>★</span>
				<span>★</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h4>Price</h4>
		</div>
		<div class="col-xs-6">
			<div class="stars">
				<span>★</span>
				<span>★</span>
				<span>★</span>
				<span>★</span>
				<span>★</span>
			</div>
		</div>
	</div>
</div>