<div id="thanksOrderOnline" class="container bg-white bloc-shad mg-bottom-d2 mg-top-d2">
	<div class="text-center">
		<h4 class="mg-bottom">Thanks</h4>
		<p>Thank you for your purchase.</p>

		<p class="mg-top-d2">Share your good taste with your friends!</p>
		<div class="share">
			<a href="#"><img src="assets/img/fb-share.png" width="35"></a>
			<a class="mg-left-d2" href="#"><img src="assets/img/twitter-share.png" width="35"></a>
		</div>

	</div>
</div>