<div id="thanksWineClub" class="container bg-white bloc-shad mg-bottom-d2 mg-top-d2">
	<div class="text-center">
		<h4 class="mg-bottom">Thanks</h4>
		<p>Thank you and welcome to the Wine Club!</p>
		<p>An email will be sent to your address to confirm the process.</p>
	</div>
</div>