<div id="connectWineClub" class="container bg-white bloc-shad mg-bottom-d2 mg-top-d2">
	<h4 class="text-center mg-top-d2">Join the wine Club<br/>
	Wine tasting Offers</h4>
	<div class="container">
		<form id="formWineClub" action="thxwineclub.html" class="form-connect">
			<div class="input-container">
				<input class="mg-bottom-d2" type="email" name="emailWineClub" id="emailWineClub" placeholder="Email">
				<label for="emailWineClub">
					<img class="img-responsive" src="assets/img/email-ico.png">
				</label>
			</div>
			<input class="bt pinkrev" id="submitWineClub" type="submit" name="submitWineClub" value="Register">
		</form>
	</div>
</div>